.herotable

    .herotable-wrapper
        position: relative
    
        &.scrollable-herotable-wrapper
            height: -webkit-fill-available
            max-height: 50vh
            overflow: auto

            &::-webkit-scrollbar 
                width: 5px
                height: 5px

            &::-webkit-scrollbar-track 
                background: #f5f5f5
                border-radius: 6px
            
            &::-webkit-scrollbar-thumb 
                background: #c3c3c3
                border-radius: 6px
            
            &::-webkit-scrollbar-thumb:hover 
                background: #8d8d8d
            

            thead
                position: sticky
                top: -1px

    table
        border: 1px solid #ededed
        width: 100%
        border-collapse: collapse
    
    .general-search-input
        border: 1px solid #e3e3e3
        padding: 4px
        border-radius: 5px
        margin: 10px 0px
        min-width: 200px
        outline: none

        &:focus
            border: 1px solid #b6b6b6
    
    table thead 
        background: #f9f9f9

    table thead tr th
        position: relative
        border-right: 1px solid #ebebeb

    table thead .header-search-input 
        display: block
        border: 1px solid #e5e5e5
        border-radius: 4px
        width: 100%
        outline: 0
        box-sizing: border-box

    table thead .header-search-input:focus 
        border: 1px solid #ababab

    table thead .header-sort-icon 
        position: absolute
        top: 0px
        right: 8px

    table thead .header-hide-icon 
        position: absolute
        top: 0px
        left: 8px

    table th
        position: relative

    table th .col-resizer
        position: absolute
        top: 0
        right: 0
        width: 2px
        cursor: col-resize
        background: transparent

        &:hover
            background: #f1f1f1


