.herotable
    .outer-herotable-wrapper
        position: relative

        .control-layout
            position: absolute
            top: -13px
            left: -13px
            text-align: left

            button
                background: #ffffffa1
                border: 1px solid #d7d7d7
                border-radius: 13px
                width: 30px
                height: 30px
                padding: 0px

                &:hover
                    cursor: pointer
                    transform: scale(1.1)
                    background: #fdfdfd

            ul
                background: white
                border-radius: 7px
                padding: 7px
                box-shadow: 2px 2px 8px #e1e1e1
                margin: 0px 10px
                list-style: none
                display: none

                li
                    padding: 5px

                    &:hover
                        cursor: pointer
                        background: #fbfbfb

            .hidden-cols-list
                left: 170px
                position: absolute
                top: 30px
                width: 130px
    
    .herotable-wrapper
        position: relative
    
        &.scrollable-herotable-wrapper
            height: -webkit-fill-available
            max-height: 50vh
            overflow: auto

            &::-webkit-scrollbar 
                width: 5px
                height: 5px

            &::-webkit-scrollbar-track 
                background: #f5f5f5
                border-radius: 6px
            
            &::-webkit-scrollbar-thumb 
                background: #c3c3c3
                border-radius: 6px
            
            &::-webkit-scrollbar-thumb:hover 
                background: #8d8d8d
            

            thead
                position: sticky
                top: -1px


    table
        border: 1px solid #ededed
        width: 100%
        border-collapse: collapse
        table-layout: fixed
    
    .general-search-input
        border: 1px solid #e3e3e3
        padding: 4px
        border-radius: 5px
        margin: 10px 0px
        min-width: 200px
        outline: none

        &:focus
            border: 1px solid #b6b6b6
    
    table thead 
        background: #f9f9f9

    table thead tr th
        position: relative
        border-right: 1px solid #ebebeb


        .nested-header-col-layout
            display: inline-block
            width: auto


    table thead .header-search-input 
        display: block
        border: 1px solid #e5e5e5
        border-radius: 4px
        width: 100%
        outline: 0
        box-sizing: border-box

    table thead .header-search-input:focus 
        border: 1px solid #ababab

    table thead .header-sort-icon 
        position: absolute
        top: 0px
        right: 8px

    table thead .header-hide-icon 
        position: absolute
        top: 0px
        left: 8px

    table th
        position: relative

    table th .col-resizer
        position: absolute
        top: 0
        width: 2px
        cursor: col-resize
        background: transparent

        &:hover
            background: #f1f1f1

    .pagination-layout
        padding: 9px

    .paginate-btn
        border: 1px solid #b3b3b3
        background: #f5f5f5
        border-radius: 4px
        width: 27px
        height: 27px
        cursor: pointer

        &.active-paginate-btn
            background: black
            border-color: black
            color: white

    .prev-paginate-btn, .next-paginate-btn
        background: transparent
        border: 0
        cursor: pointer

        &.disabled-btn
            opacity: 0.7